.Dock{
    display: flex;

    position: fixed;

    bottom: 1rem;
    left: 50%;

    transform: translate(-50%);

    background: rgb(63,63,63,0.395);

    padding-inline: 1rem;
    padding-block: 0.75rem;

    border-radius: 0.75rem;

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border: 1px solid rgba(255,255,255,0.08);

    box-shadow:
       0 10px 30px rgba(0,0,0,0.35),
       inset 0 1px 1px rgba(255,255,255,0.08);

    gap: 0.75rem;
}

.icon{
    padding: 0.65rem;
    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1/1;
    border-radius: 0.75rem;
    width: 3.75rem;
   

    will-change: transform;

transition:
   transform 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}

.github,
.cli
{
    background: #000;
}

.note{
    background: linear-gradient(to bottom ,rgb(255,179,87) ,rgb(255,153,28));
}

.pdf{
    background: linear-gradient(to bottom ,rgb(255,37,52) ,rgb(255,40,25));
}

.calender,
.mail
{
    background: linear-gradient(to bottom , rgb(105,94,255),rgb(66,52,255));
}

.spotify{
    background: linear-gradient(to bottom , rgb(78,176,33),rgb(53,142,12));
}

.link{
    background: linear-gradient(to bottom ,rgb(163,97,170) ,rgb(142,33,170));
}

.icon:hover{
    transform: scale(1.25) translateY(-20%);
}
.icon:hover + .icon,
.icon:has(+ .icon:hover){
    transform: scale(1.1) translateY(-10%);
}

